<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="[% request.uri_base %]/css/style.css" />
  <title>Greedy</title>
</head>
<body>
<div id="header">
  <div id="logo">
    <img src="/images/greedy_logo.png" alt="Greedy"/>
  </div>
</div>
<div id="content_wrap">
<div id="content">
[% content %]
</div>
</div>
<div id="footer">
Copyright(C) 2011 ngi group. All Rights Reserved.
</div>
</body>
</html>
