
<div id="login_wrap">
<div id="login_top">
<div id="login_image">
<div id="login_description" class="description">
Greedyは欲しいをアピールして、<br />
注目しているアイテムを紹介&共有するソーシャルサービスです。</div>
<a href="/forward_twitter"><img src="/images/greedy_login_buttun.png" /></a>
</div>
</div>
</div>



